<ion-view view-title="Home">
    <ion-content>
        <br>
        <div align="center">
            <h1>HOME PAGE</h1>

            <button class="button button-energized button-light" ng-click="quickpick()">Pick Random (Quick)</button>
            <BR>
            <br>
            <button class="button button-energized button-light" ng-click="advancepick()">Pick Random list (Advance)</button>
            <BR>
            <br>
            <button class="button button-energized button-light" ng-click="createvote()">Let's Vote</button>
            <BR> Hello!
        </div>
    </ion-content>
</ion-view>