<ion-view view-title="Search">
    <ion-content>
        <h1>Search</h1>
        <br> 
        <div>
        Restaurant Name:
        <input type="text" ng-model="search.restname"/> 
        Filter By:
        <select ng-model="search.category">
            <option value="">Category</option>
            <option value="chinese">Chinese</option>
            <option value="japanese">Japanese</option>
            <option value="western">Western</option>
        </select>
        <select ng-model="search.price">
            <option value="">Price</option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
        </select>
        <select ng-model="search.distance">
            <option value="">Distance</option>
            <option value="1">1 km</option>
            <option value="5">5 km</option>
            <option value="20">20 km</option>
        </select>
        <br>
        <button ng-click="searchrestaurants()">Search Restaruants</button>
        </div>
<!--        ; go('/app/search/results')-->
      
       <div class="list card" ng-repeat="r in restaurants" >
           <a  href="#/app/search/{{r.id}}">
            
                <div class="item item-avatar">
                <img src="{{r.image_url}}">
                <h class="title">{{r.name}} <img src="{{r.rating_img_url_small}}"></h>
                <p>{{r.location.address[0]}}, {{r.location.city}}, {{r.location.state_code}}</p>
            </div>
            </a>
        </div>
    </ion-content>
</ion-view>

