<ion-view view-title="User">
    <ion-content>
        <br>
        <div align="center">
        <h1 align="center">USER PAGE</h1>
        <h3 align="center">username</h3>
        
            <table align="center" width="80%">
                <tr>
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">friends</button>
                    </td>
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">fav</button>
                    </td>
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">dislike</button>
                    </td>
                </tr>

                <tr valign="middle">
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">want to try</button>
                    </td>
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">profile</button>
                    </td>
                    <td align="center">
                        <button class="button button-energized button-light" ng-click="testclick()">more</button>
                    </td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>